/* Regola per tutto il corpo della pagina */
* {
  margin: 0;
  padding: 0;
}

#prin {
  height: 100vh;
  width: 100%;
}

/* Definizione principali blocchi */
.blocco {
  margin-top: 2px;
  height: 100vh;
  width: 100%;
  filter: brightness(75%);
  position: relative;
}

 /* Definizione del testo */
.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1.5px 0 grey, 0 1.5px grey, 1.5px 0 grey, 0 -1.5px grey;
  font-size: 50pt;
  text-transform: uppercase;
}

/* Definizione Prima immagine di sfondo */
.primo {
  background-image: url("immagini/roma.jpg") ;
  background-size: cover;
}

.secondo {
  background-image: url("immagini/copenaghen.jpg") ;
  background-size: cover;
}

.terzo {
  background-image: url("immagini/tokyo.jpg") ;
  background-size: cover;
}

.quarto {
  background-image: url("immagini/newyork.jpg") ;
  background-size: cover;
}
